<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>{% if title %}{{ title }} - {% endif %}Pangdox</title>
    <link href="/styles/index.scss" rel="stylesheet">
    <link href="/assets/favicon.ico" rel="icon">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <meta name="description" content="Unofficial documentation for the communication protocol of the 2004 MMORPG, PangYa.">
</head>
<body>
    <main>
        <aside>
            <div id="logo">
                <a aria-label="Return to index" href="/index.md"><img src="/assets/logo.png" srcset="/assets/logo.png 1x, /assets/logo@2x.png 2x" width="200" height="200" alt="Pangdox logo"></a>
                <h1><a href="/index.md">Packetdoc</a></h1>
            </div>
            <h2>Navigation</h2>
            <ul class="navlist">
                <li>
                    <a href="/index.md">Home</a>
                </li>
                <li>
                    <a href="/protocol.md">Protocol</a>
                </li>
                <li>
                    <a href="/events/index.md">Events</a>
                </li>
                <li>
                    <a href="/packets/index.ksy">Packets</a>
                    <ul>
                        <li>
                            <a href="/packets/loginservice/index.ksy">LoginService</a>
                            <ul>
                                <li><a href="/packets/loginservice/client/index.ksy">Client Packets</a></li>
                                <li><a href="/packets/loginservice/server/index.ksy">Server Packets</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/packets/gameservice/index.ksy">GameService</a>
                            <ul>
                                <li><a href="/packets/gameservice/client/index.ksy">Client Packets</a></li>
                                <li><a href="/packets/gameservice/server/index.ksy">Server Packets</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/packets/messageservice/index.ksy">MessageService</a>
                            <ul>
                                <li><a href="/packets/messageservice/client/index.ksy">Client Packets</a></li>
                                <li><a href="/packets/messageservice/server/index.ksy">Server Packets</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <article>
            {% if repopath %}
                <a class="float-right button floating-github-button" href="https://github.com/pangbox/packetdoc/edit/master/{{ repopath }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" class="svg-icon"><use href="#edit-icon" /></svg> Edit on GitHub</a>
            {% endif %}
        {% block body %}
        {% endblock %}
        </article>
    </main>
    <footer>
        <p>
            Packetdoc is Open Source! Know something we don't? Please contribute by
            opening a Pull Request. No Git experience? No problem! Simply use the
            GitHub user interface to edit a file; no command line or Git experience
            needed.
        </p>
        <p>
            Copyright &copy; 2019 the Pangbox authors. Licensed under the ISC license.
        </p>
        <p>
            PangYa is a registered trademark of Ntreev Soft Co., Ltd. Corporation.
            Pangbox is not endorsed or related to Ntreev Soft Co., Ltd. Corporation
            in any way. "PangYa" and related trademarks are used strictly for 
            informational purposes.
        </p>
    </footer>
    <!-- Based on feather icons, by Cole Bemis, under the MIT license. -->
    <!-- https://github.com/feathericons/feather/blob/master/LICENSE -->
    <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="edit-icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
        </symbol>
        <symbol id="github-icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
        </symbol>
    </svg>
</body>
</html>
