{% layout "base" %}

{% block body %}
    <h1>{{ struct.title }}</h1>
    {{ struct.doc | markdown }}
    <h2>Packets</h2>
    <table>
        <thead>
            <tr>
                <th width="100">ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for case in cases %}
            <tr>
                <td>
                    <a href="{{ case.type.file | urlpath }}">
                        0x{{ case.value | packetid }}
                    </a>
                </td>
                <td>
                    {{ case.type.title }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </ul>
{% endblock %}
