{% layout "base" %}

{% block body %}
    <h1>{{ struct.title }}</h1>
    {{ struct.meta.doc | markdown }}
    <h2>Summary</h2>
    {{ struct.doc | default: "_No documentation._" | markdown }}
    <h2>Structure</h2>
    {% include 'partials/struct.html' with struct: struct %}
    {% if file.localTypes.length > 0 %}
        <h2>Subtypes</h2>
        {% for struct in file.localTypes %}
        {% include 'partials/struct.html' with struct: struct, doc: struct.doc %}
        {% endfor %}
    {% endif %}
    {% if file.localEnums.length > 0 %}
        <h2>Enums</h2>
        {% for type in file.localEnums %}
        <h3><a id="{{ type | urlhash}}">{{ type.id }}</a></h3>
        <table cellspacing="0">
            <thead>
                <tr>
                    <th width="100">Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for enumvalue in type.values %}
                <tr>
                    <td><code><a id="{{ enumvalue | urlhash }}">{{ enumvalue.fullname }}</a></code></td>
                    <td><code>{{ enumvalue.value }}</code></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% endif %}
    <h2>Definition</h2>
    <nav>
        <ul class="horizontal">
            <li><a class="button" href="https://github.com/pangbox/packetdoc/blob/master/{{ repopath }}"><i class="fab fa-github-alt"></i> View on GitHub</a></li>
            <li><a class="button" href="https://github.com/pangbox/packetdoc/edit/master/{{ repopath }}"><i class="fal fa-edit"></i> Edit on GitHub</a></li>
        </ul>
    </nav>
    <div class="source"><code><pre>{{ file.raw | stripdocs | yaml | highlight }}</pre></code></div>
    <h2>Examples</h2>
    {% for example in examples %}
    <div>
        <b>Agent:</b> {{ example.agent }}
        {{ example.data | hexdump: parser }}
    </div>
    {% else %}
    <i>No examples available. <a href="https://github.com/pangbox/packetdoc/upload/master">Contribute one?</a></i>
    {% endfor %}
{% endblock %}
