{% assign enum = file.enumValues | mapGet: id %}
{% if enum %}
<span class="enum-value">
    <div class="popup">
        <dl>
            <dt>Enum: </dt>
            <dd><a href="{{enum.file | urlpath}}#{{enum.parent | urlhash}}">{{ enum.parent.id }}</a></dd>
            <dt>Key: </dt>
            <dd>{{ enum.id }}</dd>
            <dt>Value: </dt>
            <dd>{{ enum.value }}</dd>
        </dl>
    </div>
    <a href="{{enum.file | urlpath}}#{{enum | urlhash}}">{{ enum.id }}</a>
</span>
{% else %}
    {{ id }}
{% endif %}