<h3><a id="{{ struct | urlhash}}">{{ struct.id }}</a></h3>
{{ doc | markdown }}
<table cellspacing="0">
    <thead>
        <tr>
            <th width="100">Name</th>
            <th width="100">Type</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for field in struct.fields %}
            {% if field.switch %}
            <tr>
                <td><code class="nowrap">{{ field.id }}</code></td>
                <td><code class="nowrap">switch({{ field.switch.switchOn }})</code></td>
                <td>{{ field.doc | default: "" }}</td>
            </tr>
            {% for case in field.switch.cases %}
            <tr>
                <td><code class="nowrap">case {% include 'partials/enum_link.html' with id: case.rawValue %}</code></td>
                <td><code class="nowrap">{% include 'partials/type_link.html' with type: case.type %}</code></td>
                <td><i>Case when <code>{{ field.switch.switchOn }} == {% include 'partials/enum_link.html' with id: case.rawValue %}</code></i></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td><code class="nowrap">{{ field.id }}</code></td>
                <td><code class="nowrap">{{ field.type | default: "bytes" }}</code></td>
                <td>{{ field.doc | default: "" }}</td>
            </tr>
            {% endif %}
        {% else %}
        <tr>
            <td colspan="3">
                <i>This structure does not have any fields of its own.</i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>