<h3>{{ name }}</h3>
{{ doc | markdown }}
<table cellspacing="0">
    <thead>
        <tr>
            <th width="100">Name</th>
            <th width="100">Type</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for field in fields %}
            {% if field.type.cases %}
            <tr>
                <td><code class="nowrap">{{ field.id }}</code></td>
                <td><code class="nowrap">switch({{ field.type.switch-on }})</code></td>
                <td>{{ field.doc | default: "" }}</td>
            </tr>
            {% for case in field.type.cases %}
            <tr>
                <td><code class="nowrap">case {% include 'partials/enum_value.html' with fullname: case[0] %}</code></td>
                <td><code class="nowrap">{{ case[1] }}</code></td>
                <td><i>Case when <code>{{ field.type.switch-on }} == {% include 'partials/enum_value.html' with fullname: case[0] %}</code></i></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td><code class="nowrap">{{ field.id }}</code></td>
                <td><code class="nowrap">{{ field.type | default: "bytes" }}</code></td>
                <td>{{ field.doc | default: "" }}</td>
            </tr>
            {% endif %}
        {% else %}
        <tr>
            <td colspan="3">
                <i>This structure does not have any fields of its own.</i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>