@import 'highlight.js/styles/github.css';

div.source {
    border: 1px dashed var(--accent-2);
    background-color: var(--bg-color);
    padding: 0.5em;
}

div.hexdump {
    position: relative;
    border: 1px dashed var(--accent-2);
    background-color: var(--bg-color);
    padding: 0.5em;

    code {
        display: flex;
        flex-direction: row;
    }

    .line {
        color: gray;
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px dashed var(--accent-2);
    }

    .hex {
        margin-right: 1em;
        padding-right: 0.5em;
        border-right: 1px dashed var(--accent-2);
    }

    .unprintable {
        color: gray;
    }

    .structspan {
        &>.popup {
            display: none;
            border: 1px solid var(--accent-2);
            background-color: var(--bg-color);
            padding: 0.5em;
            z-index: 10;
            top: -30px;
            position: absolute;
        }

        &:hover {
            background-color: var(--accent-1);

            &>.popup {
                display: block;
            }
        }
    }
}