body {
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    margin: 0 auto;
    
    @media (prefers-color-scheme: dark) {
        background: #000;
        color: #FFF;
    }
}

main {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 600px) {
        display: block;
    }
}

aside {
    flex-basis: 200px;
    flex-shrink: 0;
    margin: 1em;
}

ul.navlist li a {
    @media only screen and (max-width: 600px) {
        display: block;
        line-height: 40px;
        background-color: var(--bg-color);
        padding: 4px;
        margin: 4px 0;
    }
}

article {
    flex-grow: 1;
    overflow: hidden;
    margin: 1em;
}

div#logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0.5em;
    }
}

footer {
    margin: 4em 1em 1em;
    padding: 1em;
    background-color: var(--bg-color);
    font-size: 12px;   
}
